#map {
  height: 100%;
  width: 100%;
  overflow:scroll; 
  rotate: 180deg;
  transform: rotateY(180deg);
  position: relative;
}

#canton {
  stroke: "white";
  stroke-width: 0.5;
}

#canton-highligted {
  stroke: "white";
  stroke-width: 2;
  cursor: "pointer";
}


.navbar {
  border-radius: 5px;
}